{% extends 'main.html' %} {% block content %}
<form action="/dologin/" name="form-users" id="formPainel" method="post">
    <div class="col-6 mt-4 m-auto">

        {% if msg %}
        <div class="alert {{class}}">
            {{msg}}
        </div>
        {% endif %} {% csrf_token %}
        <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Username">
        <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Password">
        <input class="btn btn-dark mt-4" type="submit" value="Login">
        <button type="button" class="btn btn-outline-primary mt-4" onclick="history.go(-1);">Voltar</button>

    </div>

</form>
{% endblock %}